.default-layout{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
}
header{
    grid-area: header;
}
header .navWrapper a{
    color: #ffffff;
}
main{
    grid-area: main;
    min-height: 78.41vh;
}
footer{
    grid-area: footer;
}